
body {
	background-color: #CCEEFF;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	color: #127622;
}

h3 {
	text-align: left;
	color: #127622;
}

.centered_image {
	text-align: center;
	margin: 10px auto 20px;
	display: block;
	border: 100px solid #555555;
}

div.hover {
	width: 120px;
	background-color: blue;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	transition: all 5s ease;
}

div.hover:hover {
	background-color: red;
}

div.animate {
	width: 120px;
	background-color: blue;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
	animation: foo 5s infinite;
}

@keyframes foo {
	0% {
		background-color: blue;
		transform: skewY(0deg);
	}

	10% {
		transform: skewY(10deg);
	}

	20% {
		background-color: green;
		transform: skewY(90deg);
	}

	50% {
		background-color: green;
		transform: skewY(140deg);
	}

	100% {
		background-color: blue;
		transform: skewY(180deg);
	}
}
