
div#hover {
	background-color: blue;
	transition: all 5s ease;
}

div#hover:hover {
	background-color: red;
}

div#animate {
	background-color: blue;
	animation: foo 5s infinite;
}

@keyframes foo {
	0% {
		background-color: blue;
	}

	50% {
		background-color: green;
	}

	100% {
		background-color: blue;
	}
}
